@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --secondary-light: #E1DCDC;
  --secondary-dark: #0A0A0A; 
  --primary: #56C23E; 
} */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
  height: 10px;
  /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
  border-radius: 0px;
  /* Rounded track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Scrollbar color */
  border-radius: 10px;
  /* Rounded edges */
  border: 2px solid #f1f1f1;
  /* Space around scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

@layer base {
  .screen {
    @apply w-full mx-auto;
  }

  :root {
    --secondary-light: 0 7% 86%;
    --secondary-dark: 0 0% 4%;
    --primary: 109 52% 50%;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    /* Additional Similar Colors */
    --secondary-light-variant: 0 6% 80%;
    --secondary-dark-variant: 0 0% 8%;
    --primary-light: 109 59% 60%;
    --primary-dark: 109 59% 40%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;

  }

  .text-primary {
    @apply text-[var(--primary)]
  }

  .bg-primary {
    @apply bg-[var(--primary)]
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-black text-foreground;
  }

  .footer-link{
    @apply flex gap-2 items-center;
  }
  .footer-link img{
    @apply w-[20px] opacity-0 ;
  }
}

@keyframes smooth-wiggle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0.3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wiggle {
  display: inline-block;
  transform-origin: left center;
  /* Anchors the rotation to the left side */
  animation: smooth-wiggle 3s infinite ease-in-out;
}