@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap");
:root {
  --green: #56c23e;
  --grey: #c9c9c9;
  --bggrey: #f2f3f5;
  --lightgreen: #56c23e83;
  --dark:#313131;
}

strong {
  font-weight: 700;
}

.bg-green {
  background-color: var(--lightgreen) !important;
}

.bg-darkGreen {
  background-color: var(--green) !important;
}

.greencolor {
  color: var(--green);
  border-color: var(--green) !important;
}

p, nav, h5, h3, .h3, h2, .h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: white;
  background: var(--green);
}

.preselection,
::-moz-selection,
::selection {
  color: white;
  background: var(--green);
}

.form-field {
  height: 46px;
  border: none;
  border-left: 3px solid var(--green);
  padding: 0 16px;
  color: white;
  outline: 0;
  background: rgb(2, 2, 2);
  transition: 0.2s;
}
.form-field:hover, .form-field:focus {
  color: white;
  background: rgb(48, 48, 48);
}

.mybtn2 {
  background-color: transparent;
  color: white;
  font-family: "Dm Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.text-success {
  color: var(--green) !important;
}

.btn-success {
  display: inline-block;
  background-color: var(--green) !important;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Dm Sans", sans-serif;
  color: #fff;
  border-radius: 10rem;
  border: solid transparent 1px !important;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-success::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--bggrey);
  z-index: -1;
  transition: 0.4s ease all;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.btn-success:hover {
  color: var(--green) !important;
  background-color: var(--green);
  border: solid var(--green) 1px !important;
}

.btn-success:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}

.card {
  border-radius: 0 !important;
  background-color: #ffffff !important;
}

.card-header {
  border-radius: 13px 13px 0 0 !important;
  background-color: #ffffff !important;
}

.card-footer {
  border-radius: 0 0 13px 13px !important;
  background-color: #ffffff !important;
}

.shadow-lg {
  border-radius: 13px !important;
  box-shadow: 5px 5px 17px #dbdbdb, -5px -5px 17px #ffffff !important;
  border: none !important;
}

.shadow-sm {
  border-radius: 13px !important;
  box-shadow: 5px 5px 17px #2a2a2a, -5px -5px 17px #383838 !important;
  border: none !important;
}

.card-img-top {
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
}

.card-img-bottom {
  border-bottom-left-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
}

.new-rounded {
  border-radius: 13px !important;
}

a, btn-success {
  text-decoration: none;
  background-color: transparent;
}

#bgdots {
  background-color: var(--bggrey) !important;
}

.mybg-black {
  background-color: #313131;
}

.fs-7 {
  font-weight: lighter !important;
  font-size: 0.9rem !important;
}

@media (max-width: 426px) {
  .fs-7 {
    font-weight: normal !important;
    font-size: 0.8rem !important;
  }
}
.mybtn {
  display: inline-block;
  background-color: var(--grey);
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Dm Sans", sans-serif;
  border-radius: 10rem;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mybtn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;
  margin: 0;
  border-radius: 10rem;
  transition: 0.4s ease all;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.mybtn:hover {
  color: #fff !important;
}

.mybtn:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}

.btn-outline-dark {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Dm Sans", sans-serif;
  border-radius: 10rem;
  border: solid #fff 1px !important;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-outline-dark::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: -1;
  border-radius: 10rem;
  transition: 0.4s ease all;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.btn-outline-dark:hover {
  background-color: transparent !important;
  color: #000 !important;
  border: solid #fff 1px !important;
}

.btn-outline-dark:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}/*# sourceMappingURL=common.css.map */