.nav-item>a {
    line-height: .4em;
    background-image: linear-gradient(to right, var(--green) 0, var(--green) 100%);
    background-position: 0 1em 1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;

    &:hover,
    &:active,
    &:focus {
        background-size: 100% 100%;
    }
}
#navbarfloat {
    position: absolute;
    top: 0;
    left: 0;
}